/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}    

.ex-1-square:hover {
    background-color: red;
}   
/* fine esercizio 1 */

/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

.ex-2-square:active {   
    width: 100%;
}
/* fine esercizio 2 */

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}

.ex-3-square:hover {
   border-radius: 50%;
}
/* fine esercizio 3 */

/* esercizio 4 */
/* fine esercizio 4 */

/* esercizio 5 */
/* fine esercizio 5 */

/* esercizio 6 */
/* fine esercizio 6 */

/* esercizio 7 */
/* fine esercizio 7 */

/* esercizio 8 */
/* fine esercizio 8 */

/* esercizio 9 */
/* fine esercizio 9 */

/* esercizio 10 */
/* fine esercizio 10 */

/* esercizio 11 */
/* fine esercizio 11 */

/* esercizio 12 */
/* fine esercizio 12 */

/* esercizio 13 */
/* fine esercizio 13 */
